
.favoritesCards {
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.favoritesCards .closeCard{
  display: none;
}

@media screen and (max-width:1000px) {
  .cards{
   justify-content: center;
   padding-left: 0px;
  }

}

.order {
  
  margin: 10px;
  margin-left: 35px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  color: rgb(36, 33, 24);
  font-size: 17px;
  height: 30px;
  width: 130px;
  background: linear-gradient(45deg, #8dc1d1, #37a0ca);
  border-radius: 5px;
  cursor: pointer;
}

.order option{
  background-color:#37a0ca ;
}
.filter {
  margin: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  color: rgb(36, 33, 24);
  font-size: 17px;
  height: 30px;
  width: 130px;
  background: linear-gradient(45deg, #8dc1d1, #37a0ca);
  border-radius: 5px;
  cursor: pointer;
}
.filter option{
  background-color:#37a0ca ;
}

.orderBy{
  margin: 0px;
  color: rgb(237, 222, 177);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  font-size: 15px;
  transform: translateX(35px);
}
.filterBy{
  margin: 0px;
  color: rgb(237, 222, 177);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  font-size: 15px;
  transform: translateX(15px);
}
.selectors{
  display: flex;
  transform: translateY(-80px);
}

@media screen and (max-width:678px) {
  .favoritesCards {
  justify-content: center;
  padding-left: 0px;
  }}