.detailContainer{
   
    display: flex;
    justify-content: center;

}

.detailContainer .card{
background-image: url(https://media.istockphoto.com/id/1273350560/photo/old-blue-green-background-texture-with-black-vignette-in-old-vintage-textured-border-design.webp?b=1&s=170667a&w=0&k=20&c=dPS794l9nLRUMX9hV9Ef2iKTssRQo1-PJQQJ1Bv6EK4=);
background-size: cover;
height: 590px;
width: 300px;
font-size: 15px;
border: 6px solid rgb(2, 27, 23);
display: flex;
flex-direction: column;

}

.detailContainer .card:hover{
    transform: translate3d( 0px, 0px,0px)  ;
}



.charInfo{
transform: translate3d(0px, 160px, 0px);

}
.detailContainer .card img{
display: flex;
justify-content: center;
border: 6px solid rgb(2, 27, 23);
transform: translate3d(10px,-42px, 0px);
z-index: 1;
width: 100%;
bottom: 400px;
cursor: pointer;
border-radius: 20px;
}

