.detailContainer{
 display: flex;
 justify-content: center;
 
}

.detailCard{
    height: 630px;
    width: 300px;
font-size: 20px;

}

.detailCard img{
    width: 284px;
    transform: translateY(35px);
}