.cards {
  margin-left: 25px;
  display: flex;
  justify-content: left;
  flex-wrap:wrap-reverse;
  flex-direction: row;
  gap: 25px;

  overflow: hidden; /* Oculta la barra de desplazamiento */

}


@media screen and (max-width:1000px) {
  .cards{
   justify-content: center;
   padding-left: 0px;
  
  }

}
