.aboutContainer{
    display: flex;
    justify-content: center;
}


.aboutContainer .card{
background-image: url(https://media.istockphoto.com/id/1273350560/photo/old-blue-green-background-texture-with-black-vignette-in-old-vintage-textured-border-design.webp?b=1&s=170667a&w=0&k=20&c=dPS794l9nLRUMX9hV9Ef2iKTssRQo1-PJQQJ1Bv6EK4=);
background-size: cover;
height: 590px;
width: 300px;
font-size: 14px;
border: 6px solid rgb(2, 27, 23);
}

.aboutContainer .card:hover{
    transform: translate3d( 0px, 0px,0px)  ;
}

.aboutContainer .card img{
    border: 6px solid rgb(2, 27, 23);
width: 284px;
z-index: 1;
scale: 1.2;
cursor: pointer;
transform: translate3d(20px, 210px, 0px);
}
